# SPDX-FileCopyrightText: 2020 Diego Elio Pettenò
#
# SPDX-License-Identifier: 0BSD

Diego Elio Pettenò <flameeyes@flameeyes.com> <flameeyes@flameeyes.eu>
Diego Elio Pettenò <flameeyes@flameeyes.com> <flameeyes@gmail.com>
